Notes.py
*.png
*.pdf
!Exercise4.pdf
!Exercise5.pdf
*.mov
*.mp4
*.gif
*.DS_Store
*.sample
*.AAE
*.txt
BasicMixtureModelExplanation.py
check3.py
rough_work2.py
QLF_model_for_Plotting.py
Plotting_Mixture_Model_Marginalisation.py
Exercise12_extended.py